<%- include("./partials/header")%>
<%- include("./partials/navbar")%>

    <br>
    <div class="container mt-5 text-center">
        <%- include("./partials/flash")%>
        <img src="/assets/error.jpg" alt="This is a Error Page" style="height: 500px;">
        <br>
    </div>
    

    <%- include("./partials/footer")%>
