<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Madhushala</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <link rel="icon" href="/assets/Mlogo.png" type="image/x-icon">
</head>
<body>
    <div style="text-align: center; background-color: black;">
        <img src="https://i.pinimg.com/564x/1e/7e/bd/1e7ebdb04eac50c6d0fbc046242d3cc2.jpg" alt="" style="height: 100px;">
        
    </div>

    <div class=" container-fluid" style="background-image: url(https://www.marketviewliquor.com/blog/wp-content/uploads/2018/01/Wine-Bottle-Sizes-Image.jpg);height: 400px;text-align: center;">
        <!-- <p class="fs-1"><span>Unbox,</span><span>Uncork,<span>Enjoy.</span></span></p> -->
        <p>
            <span style="font-family: brown-bold; color: rgb(48, 48, 38); font-size: 64px; font-style: normal;">Unbox, Uncork, Enjoy.</span>
        </p>
        <div class="badge bg-info text-wrap" >
        <p>
            <span style="font-family: brown-bold; color: rgb(48, 48, 38); font-size: 20px; font-style: normal;">Discover why we're the Internet's #1 destination to buy Wine</span>
        </p>
        </div> 
        <br><br><br><br><br><br> 
        <div>
            <a class="btn btn-danger rounded-pill" style="width: 200px;" href="/products">Get Started</a>
        </div>
        
    </div>

    <div class="row products m-5" style="text-align: center;">
        <div class="col-lg-4">
            <img src="https://i.pinimg.com/564x/00/5f/34/005f346614d33811afec3eb030df4d93.jpg" class="rounded-circle" alt="" width="304" height="236">
    
            <h2>Straight From</h2>
            <h2>the Vineyard</h2>
            <p>We make great wine.</p>
            
          </div>
          <div class="col-lg-4">
            <img src="https://i.pinimg.com/564x/e0/7b/1f/e07b1fe180270e930bdd320718f44149.jpg" class="rounded-circle" alt="" width="304" height="236">
    
            <h2>Curated Just</h2>
            <h2>For You</h2>
            <p>Take the guesswork out of shopping for wine.</p>
            
          </div>
          <div class="col-lg-4">
            <img src="https://i.pinimg.com/564x/2b/f3/70/2bf370b9a5137d656fba6be7c8dfa4d8.jpg" class="rounded-circle" alt="" width="304" height="236">
    
            <h2>We Learn Your </h2>
            <h2>Palate</h2>
            <p>Our recommendations improve with your ratings.</p>
            
          </div>
          <br><br>

          <div>
            <a class="btn btn-danger rounded-pill" style="width: 200px;" href="/products">Get Started</a>
        </div>
        
        
    </div>

    

    <div id="myCarousel" class="carousel slide" data-ride="carousel" >
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" >
            <div class="carousel-item active">
                <img class="first-slide" src="/assets/53.png" alt="" style="width: 100%;height: 100%;">
                
            </div>
            <div class="carousel-item">
                <img class="second-slide" src="https://images.unsplash.com/photo-1601502444609-14fa1cb181fc?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8d2luZSUyMHF1b3Rlc3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="" style="width: 100%;height: 100%;">
                
            </div>
            <div class="carousel-item">
                <img class="third-slide" src="/assets/55.jpg" alt="" style="width: 100%;height: 100%;">
            </div>
        </div>
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>






    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"></script>
    
    
        <%- include("./partials/footer")%>
